---
import Layout from '../layouts/Layout.astro';

import StyleCard from '../components/StyleCard.astro';
import Nav from '../components/Nav.astro';
import { supabase } from '../lib/supabase';

const { data: styles, error } = await supabase.from('styles').select();
if (error) console.error('error', error);
---

<Layout title="A History of Interior Design">
	<Nav/>
	<h1>Welcome to a visual history of interior design.</h1>
	{styles?.map(style => (
		<StyleCard key={style.id} style={style}/>
	))}
</Layout>